.about__container {
	display: flex;
	gap: 30px;

}
.about__photo {
	display: none;
	@include tablet {
		display: flex;
	flex-direction: column;
		gap: 30px;
	}
	@include desktop {
flex-direction: row;
	}
}
.about__contan {
max-width: 418px;
@include tablet {
	max-width: 330px;
}
@include desktop {
	max-width: 470px;
	}
}

.contant {
	&__title {
		
		margin-bottom: $margin-bottom-text;
		color: $primary-text-color;
		font-size: 28px;
		line-height: 1.18;
		@media screen and (max-width: 767px){
			max-width: 306px;
		}
		@media screen and (max-width: 1199px) {
			max-width: 330px;
		}
		

		@include desktop {
			font-size: 42px;
			line-height: 1.16;
		}
	}

	&__after-title {
		font-size: 16px;
		line-height: 1.62;
		letter-spacing: $spacing-small;
		color: $first-text-color;
		margin-bottom: $margin-bottom-text;
		@include tablet {
			font-size: 18px;
		line-height: 1.67;
		}
	}

	&__text {
		margin-bottom: 42px;
		font-size: $size-small;
		line-height: 1.86;
		letter-spacing: $spacing-small;

		color: $first-text-color;
	}
}

.btn--black {
	color: $primary-text-color;
}
