.benefits__container {
	display: flex;
	flex-direction: column;

	@include desktop {
		flex-direction: row-reverse;
		gap: 30px;
	}
}

.benefits__title {
	@extend %title;

	width: 410px;

	margin-bottom: $margin-bottom-text;
	font-size: $size-title;
	line-height: 1.16;
	color: $primary-text-color;
	@include tablet {
		width: 450px;
	}

	&::before {
		content: "?";
		display: inline-block;
		transform: rotate(180deg);
	}
}

.benefits__after-title {
	font-size: $size-text;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: $first-text-color;
	@media screen and (max-width: 1199px) {
		margin-bottom: 44px;
	}

	@include tablet {
		width: 500px;
	}
}

.benefits__content {
	@include tablet {
		width: 500px;
	}
}

.benefits__list {
	display: flex;
	flex-wrap: wrap;

	@include tablet {
		width: 450px;
		margin-left: auto;
	}

	@include desktop {
		width: calc((100% - 30px) / 2);

		margin-left: 0;
		padding: 0 100px;
		// padding: 0 100px 0 0;
	}
}

.benefits__item {
	@include flex;
	flex-direction: column;
	width: calc((100% - 30px) / 2);
	height: 133px;
	background-color: $background-color;
	padding: 20px 35px;

	&:nth-child(even) {
		margin-top: 30px;
	}

	&:nth-child(odd) {
		margin-right: 30px;
	}
}

.benefits__item-top {
	display: flex;
	justify-content: center;
	span {
		@include font(700, 42, 1.35, 0.05);
		color: $primary-text-color;

		@include miniMobile {
			font-size: 8.75vw;
		}
	}

	sup {
		font-weight: 600;
		font-size: 16px;
		line-height: calc(22 / 16);
		letter-spacing: 0.05;
		color: $accent-text-color;
		max-width: 12px;
		margin: 3px 0 0 3px;
	}
}

.benefits__item-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	color: $primary-text-color;
	text-align: center;
}
