.contact-wrap .container {
	@media screen and (max-width: 1199px) {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	}
	@include desktop {
	display: flex;
	
	}
}

.contact-wrap {


	@include desktop {
	background-color: #111319;
	background-image: url(../img/contact-bg.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: calc(50% - 15px) 100%;
	max-width: 1600px;
	margin: 0 auto;
	}
}

.online-booking {
	@media screen and (max-width: 1199px) {
		background-color: #111319;
	}
	@include desktop {
	padding-bottom: 183px;
	/* padding-left: 210px; */
	width: calc(50% - 15px);
	margin-right: 30px;
	margin-bottom: 44px;
	}
}
// .contact-wrap__booking {

// }
.form-online {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.online-field {
	margin-bottom: 44px;
	position: relative;
}
.input-label {
	position: absolute;
	top: 0;
	left: 0;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: rgba(157, 164, 189, 0.4);
	transition: transform 250ms linear, color 250ms linear;
}
.online-item {
	border: none;
	border-bottom: 1px solid rgba(157, 164, 189, 0.4);
	background-color: transparent;
	outline: transparent;
	color: #ffffff;
	font-size: 14px;
}
.online-item:focus,
.online-item:not(:placeholder-shown) {
	border-bottom: 1px solid #ffffff;
}
.input-online {
	width: 270px;
	height: 30px;
}
.online-field:last-of-type {
	width: 100%;
}
.input-online:focus + .input-label,
.input-online:not(:placeholder-shown) + .input-label {
	color: #ffffff;
	transform: translateY(-100%);
}
.online-text {
	width: 100%;
	height: 80px;
	resize: none;
}
.contact {
	@media screen and (max-width: 1199px) {
		background-color: #111319;
		background-image: url(../img/contact-bg.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	}
@include desktop {
	padding-bottom: 120px;
	width: calc(50% - 15px);
	padding-left: 100px;
	}
}
.contact__address {
	margin-bottom: 70px;
}

.contact__link {
	display: flex;
	align-items: center;
	@include font(null, 18px, 1.67, 0.02em);

	color: #9da4bd;
	margin-bottom: $margin-bottom-text;
	&:hover {
		color: $accent-text-color;
		
	}
}
.contact__link--underlined {
text-decoration: underline;
}
.contact__icon {
	margin-right: 16px;
	// fill: currentColor;

	
}


.contact__item:not(:last-child) {
	margin-bottom: $margin-bottom-text;
}

.pre-title--white {
	color: $second-text-color
}

.contact__time {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;

	color: #9da4bd;
}
