.footer__container {
	padding-top: 44px;
	padding-bottom: 44px;
	padding-left: 31px;
	padding-right: 31px;

	@include tablet {
		padding-top: 56px;
		padding-bottom: 56px;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	@include desktop {
	}

	p {
		@include font(600, 11, 1.36, 0.02);
		display: block;
		color: #9da4bd;
		// align-self: flex-end;
	}
}

.footer__soc-list {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 40px;
	margin-bottom: 20px;
	@include font(600, 11, 1.36, 0.02);
	color: $primary-text-color;

	&:before {
		content: "";
		width: 60px;
		height: 1px;
		background-color: $primary-text-color;
	}
}
