.footer {
	padding-top: 56px;
	padding-bottom: 56px;
}
.footer__container {
	@extend %flex-align;
}
.footer__copyright {
	@include font(600, 11px, 1.36, 0.2em);

	color: #9da4bd;
}
.footer__list {
	@extend %flex-align;
	margin-left: auto;
	gap: 40px;

	&::before {
		content: "";
		width: 60px;
		height: 1px;
		background-color: currentColor;
	}
}

.footer__link {
	@extend %flex-align;
	gap: 40px;

	@include font(600, 11px, 1.36, 0.2em);

	color: $primary-text-color;
	
	@include transition (color);
	
	&:hover,
	&:focus {
		color: $accent-text-color;
	}
}

