$primary-text-color: #303030;
$accent-text-color: #ff6c00;
$first-text-color: #555555;
$second-text-color: #ffffff;
$background-color: #f7f7f7;
$font-family-title: "Raleway", sans-serif;
$font-text: "Open Sans", sans-serif;
$margin-bottom-text: 20px;

$weidth-bold: 700;
$weidth-normal: 400;

$size-small: 14px;
$size-text: 18px;
$size-title: 42px;

$spacing-small: 0.02em;
$spacing-big: 0.05em;

$trans-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
