.logo {
	margin-right: 62px;

	@include desktop {
		margin-right: 130px;
	}
}

.logo__icon {
	fill: $first-text-color;
	@include tablet {
		fill: $first-text-color;
		@include transition(fill);
	}

	&:hover,
	&:focus {
		fill: $accent-text-color;
	}
}
