.logo {
	margin-right: 55px;
	margin-left: 35px;

	@include desktop {
		margin-right: 130px;
		margin-left: 0;
	}
}

.logo__icon {
	fill: $second-text-color;
	@include tablet {
		fill: $first-text-color;
		@include transition(fill);
	}

	&:hover,
	&:focus {
		fill: $accent-text-color;
	}
}
