// Додаткові стилі для modal-booking (data-modal="2")
.menu-button {
	background-color: transparent;
	border: none;

	margin-left: auto;

	&.active {
		position: absolute;
		right: 0;
		top: 10px;
		z-index: 15;
	}

	& .icon-cross {
		display: none;
	}

	&.active .icon-cross {
		display: block;
	}

	&.active .icon-menu {
		display: none;
	}

	@include tablet {
		display: none;
	}

	&:focus,
	&:hover,
	&:active {
		fill: $accent-text-color;
	}
}
